In [5498]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import io

**1 Acceso a Internet fijo por rango de velocidad por provincia** 
- elimino los las filas con datos faltantes ya que son 6 datos que no tienen informacion
- elimino las , y los . de los valores numericos 
- Cambio del tipo de dato a tipo numérico de las columnas 
- Agregado de una columna personalizada con la fecha por año y trimestre 
(Query utilizada: ""1/"&Number.ToText([Trimestre]*2+([Trimestre]-2))&"/"&Number.ToText([Año]))."

In [5499]:
# nos conectamos a la api

url_1 = "http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/ACCES-A-INTER-FIJO-23248/data.csv/?auth_key=CdCkPNtytKOpyXovUUrzDsjQuFlZErO3Q5JgG765"

In [5500]:
url_111 = "http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/TOTAL-NACIO-DE-ACCES-48866/data.csv/?auth_key=X0iMSWglDt0esX9LyVm8pcuHc3nNTVjJjOHlL2Fn"

In [5501]:
# Realiza la petición GET a la API para la primera URL
response_1 = requests.get(url_1)

# Lee los datos del archivo CSV en un DataFrame de pandas
rangos_velocidad_provincia = pd.read_csv(io.StringIO(response_1.content.decode('utf-8')))

# visualizamos 

rangos_velocidad_provincia

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,3,Buenos Aires,29.985,27.709,290.315,297.915,267.044,124.190,3.618.689,65.821,4.721.668
1,2022,3,Capital Federal,517.000,5.742,34.371,67.829,51.946,28.692,1.253.105,105.477,1.547.679
2,2022,3,Catamarca,71.000,384.000,3.107,5.389,5.099,3.737,50.298,2.208,70.293
3,2022,3,Chaco,461.000,987.000,16.782,18.938,8.049,15.828,79.390,3.711,144.146
4,2022,3,Chubut,109.000,1.444,45.707,30.940,34.682,15.309,17.563,20.024,165.778
...,...,...,...,...,...,...,...,...,...,...,...,...
835,2014,1,Santa Cruz,161.000,1.625,24.972,1.000,1.000,0.000,0,0.000,26.760
836,2014,1,Santa Fe,8.456,124.468,345.225,20.328,6.845,23.000,668,0.000,506.013
837,2014,1,Santiago Del Estero,1.234,10.531,22.817,2.422,109.000,0.000,0,0.000,37.113
838,2014,1,Tierra Del Fuego,12.000,607.000,30.902,6.000,0.000,0.000,0,0.000,31.527
839,2014,1,Tucumán,6.000,34.672,83.210,11.779,362.000,3.000,0,0.000,130.032

In [5502]:
#Contamos los nulos por columnas, 
print(rangos_velocidad_provincia.isna().sum(axis=0))

Año                    0
Trimestre              0
Provincia              0
HASTA 512 kbps         0
+ 512 Kbps - 1 Mbps    0
+ 1 Mbps - 6 Mbps      0
+ 6 Mbps - 10 Mbps     0
+ 10 Mbps - 20 Mbps    0
+ 20 Mbps - 30 Mbps    0
+ 30 Mbps              0
OTROS                  6
Total                  0
dtype: int64

In [5503]:
# eliminamos las filas donde tenemos campos vacios 
rangos_velocidad_provincia = rangos_velocidad_provincia.dropna()

In [5504]:
#Contamos los nulos por columnas, 
print(rangos_velocidad_provincia.isna().sum(axis=0))

Año                    0
Trimestre              0
Provincia              0
HASTA 512 kbps         0
+ 512 Kbps - 1 Mbps    0
+ 1 Mbps - 6 Mbps      0
+ 6 Mbps - 10 Mbps     0
+ 10 Mbps - 20 Mbps    0
+ 20 Mbps - 30 Mbps    0
+ 30 Mbps              0
OTROS                  0
Total                  0
dtype: int64

In [5505]:
# describimos el dataframe
rangos_velocidad_provincia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 834 entries, 0 to 839
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  834 non-null    int64
 1   Trimestre            834 non-null    int64
 2   Provincia            834 non-null    object
 3   HASTA 512 kbps       834 non-null    float64
 4   + 512 Kbps - 1 Mbps  834 non-null    float64
 5   + 1 Mbps - 6 Mbps    834 non-null    object
 6   + 6 Mbps - 10 Mbps   834 non-null    float64
 7   + 10 Mbps - 20 Mbps  834 non-null    float64
 8   + 20 Mbps - 30 Mbps  834 non-null    float64
 9   + 30 Mbps            834 non-null    object
 10  OTROS                834 non-null    float64
 11  Total                834 non-null    object
dtypes: float64(6), int64(2), object(4)
memory usage: 84.7+ KB

In [5506]:
# Convierte las columnas que contienen valores numéricos en objetos

rangos_velocidad_provincia['+ 512 Kbps - 1 Mbps'] = rangos_velocidad_provincia['+ 512 Kbps - 1 Mbps'].astype(str)
rangos_velocidad_provincia['+ 1 Mbps - 6 Mbps'] = rangos_velocidad_provincia['+ 1 Mbps - 6 Mbps'].astype(str)
rangos_velocidad_provincia['+ 6 Mbps - 10 Mbps'] = rangos_velocidad_provincia['+ 6 Mbps - 10 Mbps'].astype(str)
rangos_velocidad_provincia['+ 10 Mbps - 20 Mbps'] = rangos_velocidad_provincia['+ 10 Mbps - 20 Mbps'].astype(str)
rangos_velocidad_provincia['+ 20 Mbps - 30 Mbps'] = rangos_velocidad_provincia['+ 20 Mbps - 30 Mbps'].astype(str)
rangos_velocidad_provincia['+ 30 Mbps'] = rangos_velocidad_provincia['+ 30 Mbps'].astype(str)
rangos_velocidad_provincia['OTROS'] = rangos_velocidad_provincia['OTROS'].astype(str)
rangos_velocidad_provincia['Total'] = rangos_velocidad_provincia['Total'].astype(str)

# elimino los puntos en las columnas correspondientes

rangos_velocidad_provincia['+ 512 Kbps - 1 Mbps'] = rangos_velocidad_provincia['+ 512 Kbps - 1 Mbps'].str.replace('.', '')
rangos_velocidad_provincia['+ 1 Mbps - 6 Mbps'] = rangos_velocidad_provincia['+ 1 Mbps - 6 Mbps'].str.replace('.', '')
rangos_velocidad_provincia['+ 6 Mbps - 10 Mbps'] = rangos_velocidad_provincia['+ 6 Mbps - 10 Mbps'].str.replace('.', '')
rangos_velocidad_provincia['+ 10 Mbps - 20 Mbps'] = rangos_velocidad_provincia['+ 10 Mbps - 20 Mbps'].str.replace('.', '')
rangos_velocidad_provincia['+ 20 Mbps - 30 Mbps'] = rangos_velocidad_provincia['+ 20 Mbps - 30 Mbps'].str.replace('.', '')
rangos_velocidad_provincia['+ 30 Mbps'] = rangos_velocidad_provincia['+ 30 Mbps'].str.replace('.', '')
rangos_velocidad_provincia['OTROS'] = rangos_velocidad_provincia['OTROS'].str.replace('.', '')
rangos_velocidad_provincia['Total'] = rangos_velocidad_provincia['Total'].str.replace('.', '')

# eliminos las comas en los espacios correspondientes 

rangos_velocidad_provincia['+ 512 Kbps - 1 Mbps'] = rangos_velocidad_provincia['+ 512 Kbps - 1 Mbps'].str.replace(',', '')
rangos_velocidad_provincia['+ 1 Mbps - 6 Mbps'] = rangos_velocidad_provincia['+ 1 Mbps - 6 Mbps'].str.replace(',', '')
rangos_velocidad_provincia['+ 6 Mbps - 10 Mbps'] = rangos_velocidad_provincia['+ 6 Mbps - 10 Mbps'].str.replace(',', '')
rangos_velocidad_provincia['+ 10 Mbps - 20 Mbps'] = rangos_velocidad_provincia['+ 10 Mbps - 20 Mbps'].str.replace(',', '')
rangos_velocidad_provincia['+ 20 Mbps - 30 Mbps'] = rangos_velocidad_provincia['+ 20 Mbps - 30 Mbps'].str.replace(',', '')
rangos_velocidad_provincia['+ 30 Mbps'] = rangos_velocidad_provincia['+ 30 Mbps'].str.replace(',', '')
rangos_velocidad_provincia['OTROS'] = rangos_velocidad_provincia['OTROS'].str.replace(',', '')
rangos_velocidad_provincia['Total'] = rangos_velocidad_provincia['Total'].str.replace(',', '')


# Convierte las columnas que corresponden a valores numéricos nuevamente a float


rangos_velocidad_provincia['+ 512 Kbps - 1 Mbps'] = rangos_velocidad_provincia['+ 512 Kbps - 1 Mbps'].astype(int)
rangos_velocidad_provincia['+ 1 Mbps - 6 Mbps'] = rangos_velocidad_provincia['+ 1 Mbps - 6 Mbps'].astype(int)
rangos_velocidad_provincia['+ 6 Mbps - 10 Mbps'] = rangos_velocidad_provincia['+ 6 Mbps - 10 Mbps'].astype(int)
rangos_velocidad_provincia['+ 10 Mbps - 20 Mbps'] = rangos_velocidad_provincia['+ 10 Mbps - 20 Mbps'].astype(int)
rangos_velocidad_provincia['+ 20 Mbps - 30 Mbps'] = rangos_velocidad_provincia['+ 20 Mbps - 30 Mbps'].astype(int)
rangos_velocidad_provincia['+ 30 Mbps'] = rangos_velocidad_provincia['+ 30 Mbps'].astype(int)
rangos_velocidad_provincia['OTROS'] = rangos_velocidad_provincia['OTROS'].astype(int)
rangos_velocidad_provincia['Total'] = rangos_velocidad_provincia['Total'].astype(int)

C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['+ 512 Kbps - 1 Mbps'] = rangos_velocidad_provincia['+ 512 Kbps - 1 Mbps'].astype(str)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['+ 1 Mbps - 6 Mbps'] = rangos_velocidad_provincia['+ 1 Mbps - 6 Mbps'].astype(str)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['+ 6 Mbps - 10 Mbps'] = rangos_velocidad_provincia['+ 6 Mbps - 10 Mbps'].astype(str)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['+ 10 Mbps - 20 Mbps'] = rangos_velocidad_provincia['+ 10 Mbps - 20 Mbps'].astype(str)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['+ 20 Mbps - 30 Mbps'] = rangos_velocidad_provincia['+ 20 Mbps - 30 Mbps'].astype(str)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['+ 30 Mbps'] = rangos_velocidad_provincia['+ 30 Mbps'].astype(str)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['OTROS'] = rangos_velocidad_provincia['OTROS'].astype(str)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['Total'] = rangos_velocidad_provincia['Total'].astype(str)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  rangos_velocidad_provincia['+ 512 Kbps - 1 Mbps'] = rangos_velocidad_provincia['+ 512 Kbps - 1 Mbps'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['+ 512 Kbps - 1 Mbps'] = rangos_velocidad_provincia['+ 512 Kbps - 1 Mbps'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:15: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  rangos_velocidad_provincia['+ 1 Mbps - 6 Mbps'] = rangos_velocidad_provincia['+ 1 Mbps - 6 Mbps'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['+ 1 Mbps - 6 Mbps'] = rangos_velocidad_provincia['+ 1 Mbps - 6 Mbps'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:16: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  rangos_velocidad_provincia['+ 6 Mbps - 10 Mbps'] = rangos_velocidad_provincia['+ 6 Mbps - 10 Mbps'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['+ 6 Mbps - 10 Mbps'] = rangos_velocidad_provincia['+ 6 Mbps - 10 Mbps'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:17: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  rangos_velocidad_provincia['+ 10 Mbps - 20 Mbps'] = rangos_velocidad_provincia['+ 10 Mbps - 20 Mbps'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['+ 10 Mbps - 20 Mbps'] = rangos_velocidad_provincia['+ 10 Mbps - 20 Mbps'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  rangos_velocidad_provincia['+ 20 Mbps - 30 Mbps'] = rangos_velocidad_provincia['+ 20 Mbps - 30 Mbps'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['+ 20 Mbps - 30 Mbps'] = rangos_velocidad_provincia['+ 20 Mbps - 30 Mbps'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  rangos_velocidad_provincia['+ 30 Mbps'] = rangos_velocidad_provincia['+ 30 Mbps'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['+ 30 Mbps'] = rangos_velocidad_provincia['+ 30 Mbps'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:20: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  rangos_velocidad_provincia['OTROS'] = rangos_velocidad_provincia['OTROS'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['OTROS'] = rangos_velocidad_provincia['OTROS'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:21: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  rangos_velocidad_provincia['Total'] = rangos_velocidad_provincia['Total'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['Total'] = rangos_velocidad_provincia['Total'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['+ 512 Kbps - 1 Mbps'] = rangos_velocidad_provincia['+ 512 Kbps - 1 Mbps'].str.replace(',', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['+ 1 Mbps - 6 Mbps'] = rangos_velocidad_provincia['+ 1 Mbps - 6 Mbps'].str.replace(',', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['+ 6 Mbps - 10 Mbps'] = rangos_velocidad_provincia['+ 6 Mbps - 10 Mbps'].str.replace(',', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['+ 10 Mbps - 20 Mbps'] = rangos_velocidad_provincia['+ 10 Mbps - 20 Mbps'].str.replace(',', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['+ 20 Mbps - 30 Mbps'] = rangos_velocidad_provincia['+ 20 Mbps - 30 Mbps'].str.replace(',', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['+ 30 Mbps'] = rangos_velocidad_provincia['+ 30 Mbps'].str.replace(',', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['OTROS'] = rangos_velocidad_provincia['OTROS'].str.replace(',', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['Total'] = rangos_velocidad_provincia['Total'].str.replace(',', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['+ 512 Kbps - 1 Mbps'] = rangos_velocidad_provincia['+ 512 Kbps - 1 Mbps'].astype(int)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['+ 1 Mbps - 6 Mbps'] = rangos_velocidad_provincia['+ 1 Mbps - 6 Mbps'].astype(int)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['+ 6 Mbps - 10 Mbps'] = rangos_velocidad_provincia['+ 6 Mbps - 10 Mbps'].astype(int)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['+ 10 Mbps - 20 Mbps'] = rangos_velocidad_provincia['+ 10 Mbps - 20 Mbps'].astype(int)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['+ 20 Mbps - 30 Mbps'] = rangos_velocidad_provincia['+ 20 Mbps - 30 Mbps'].astype(int)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['+ 30 Mbps'] = rangos_velocidad_provincia['+ 30 Mbps'].astype(int)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['OTROS'] = rangos_velocidad_provincia['OTROS'].astype(int)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2124067459.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['Total'] = rangos_velocidad_provincia['Total'].astype(int)

In [5507]:
rangos_velocidad_provincia['HASTA 512 kbps'] = rangos_velocidad_provincia['HASTA 512 kbps'].astype(str)
rangos_velocidad_provincia['HASTA 512 kbps'] = rangos_velocidad_provincia['HASTA 512 kbps'].str.replace('.', '')

C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\288012503.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['HASTA 512 kbps'] = rangos_velocidad_provincia['HASTA 512 kbps'].astype(str)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\288012503.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  rangos_velocidad_provincia['HASTA 512 kbps'] = rangos_velocidad_provincia['HASTA 512 kbps'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\288012503.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['HASTA 512 kbps'] = rangos_velocidad_provincia['HASTA 512 kbps'].str.replace('.', '')

In [5508]:
rangos_velocidad_provincia['HASTA 512 kbps'] = rangos_velocidad_provincia['HASTA 512 kbps'].str.rstrip('0')
rangos_velocidad_provincia['HASTA 512 kbps'] = rangos_velocidad_provincia['HASTA 512 kbps'].astype(int)

C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\1398965919.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['HASTA 512 kbps'] = rangos_velocidad_provincia['HASTA 512 kbps'].str.rstrip('0')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\1398965919.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['HASTA 512 kbps'] = rangos_velocidad_provincia['HASTA 512 kbps'].astype(int)

In [5509]:
# visualizo

rangos_velocidad_provincia

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,3,Buenos Aires,29985,27709,290315,297915,267044,12419,3618689,65821,4721668
1,2022,3,Capital Federal,517,5742,34371,67829,51946,28692,1253105,105477,1547679
2,2022,3,Catamarca,71,3840,3107,5389,5099,3737,50298,2208,70293
3,2022,3,Chaco,461,9870,16782,18938,8049,15828,79390,3711,144146
4,2022,3,Chubut,109,1444,45707,3094,34682,15309,17563,20024,165778
...,...,...,...,...,...,...,...,...,...,...,...,...
835,2014,1,Santa Cruz,161,1625,24972,10,10,0,0,0,26760
836,2014,1,Santa Fe,8456,124468,345225,20328,6845,230,668,0,506013
837,2014,1,Santiago Del Estero,1234,10531,22817,2422,1090,0,0,0,37113
838,2014,1,Tierra Del Fuego,12,6070,30902,60,0,0,0,0,31527
839,2014,1,Tucumán,6,34672,83210,11779,3620,30,0,0,130032

In [5510]:
rangos_velocidad_provincia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 834 entries, 0 to 839
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  834 non-null    int64
 1   Trimestre            834 non-null    int64
 2   Provincia            834 non-null    object
 3   HASTA 512 kbps       834 non-null    int32
 4   + 512 Kbps - 1 Mbps  834 non-null    int32
 5   + 1 Mbps - 6 Mbps    834 non-null    int32
 6   + 6 Mbps - 10 Mbps   834 non-null    int32
 7   + 10 Mbps - 20 Mbps  834 non-null    int32
 8   + 20 Mbps - 30 Mbps  834 non-null    int32
 9   + 30 Mbps            834 non-null    int32
 10  OTROS                834 non-null    int32
 11  Total                834 non-null    int32
dtypes: int32(9), int64(2), object(1)
memory usage: 55.4+ KB

In [5511]:
# creamos una columna nueva 

rangos_velocidad_provincia["Fecha_Año-Trimestre"] = (rangos_velocidad_provincia["Trimestre"]*2 + (rangos_velocidad_provincia["Trimestre"]-2)).astype(str) + "/" + "1"  + "/" + rangos_velocidad_provincia["Año"].astype(str)

C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\1681321126.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia["Fecha_Año-Trimestre"] = (rangos_velocidad_provincia["Trimestre"]*2 + (rangos_velocidad_provincia["Trimestre"]-2)).astype(str) + "/" + "1"  + "/" + rangos_velocidad_provincia["Año"].astype(str)

In [5512]:
rangos_velocidad_provincia

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total,Fecha_Año-Trimestre
0,2022,3,Buenos Aires,29985,27709,290315,297915,267044,12419,3618689,65821,4721668,7/1/2022
1,2022,3,Capital Federal,517,5742,34371,67829,51946,28692,1253105,105477,1547679,7/1/2022
2,2022,3,Catamarca,71,3840,3107,5389,5099,3737,50298,2208,70293,7/1/2022
3,2022,3,Chaco,461,9870,16782,18938,8049,15828,79390,3711,144146,7/1/2022
4,2022,3,Chubut,109,1444,45707,3094,34682,15309,17563,20024,165778,7/1/2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,2014,1,Santa Cruz,161,1625,24972,10,10,0,0,0,26760,1/1/2014
836,2014,1,Santa Fe,8456,124468,345225,20328,6845,230,668,0,506013,1/1/2014
837,2014,1,Santiago Del Estero,1234,10531,22817,2422,1090,0,0,0,37113,1/1/2014
838,2014,1,Tierra Del Fuego,12,6070,30902,60,0,0,0,0,31527,1/1/2014
839,2014,1,Tucumán,6,34672,83210,11779,3620,30,0,0,130032,1/1/2014

In [5513]:
rangos_velocidad_provincia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 834 entries, 0 to 839
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  834 non-null    int64
 1   Trimestre            834 non-null    int64
 2   Provincia            834 non-null    object
 3   HASTA 512 kbps       834 non-null    int32
 4   + 512 Kbps - 1 Mbps  834 non-null    int32
 5   + 1 Mbps - 6 Mbps    834 non-null    int32
 6   + 6 Mbps - 10 Mbps   834 non-null    int32
 7   + 10 Mbps - 20 Mbps  834 non-null    int32
 8   + 20 Mbps - 30 Mbps  834 non-null    int32
 9   + 30 Mbps            834 non-null    int32
 10  OTROS                834 non-null    int32
 11  Total                834 non-null    int32
 12  Fecha_Año-Trimestre  834 non-null    object
dtypes: int32(9), int64(2), object(2)
memory usage: 61.9+ KB

In [5514]:
# cambio el tipo de dato de "Fecha_Año-Trimestre" a una fecha 

rangos_velocidad_provincia['Fecha_Año-Trimestre'] = pd.to_datetime(rangos_velocidad_provincia['Fecha_Año-Trimestre'], errors='coerce')

C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\995451762.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rangos_velocidad_provincia['Fecha_Año-Trimestre'] = pd.to_datetime(rangos_velocidad_provincia['Fecha_Año-Trimestre'], errors='coerce')

In [5515]:
rangos_velocidad_provincia

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total,Fecha_Año-Trimestre
0,2022,3,Buenos Aires,29985,27709,290315,297915,267044,12419,3618689,65821,4721668,2022-07-01
1,2022,3,Capital Federal,517,5742,34371,67829,51946,28692,1253105,105477,1547679,2022-07-01
2,2022,3,Catamarca,71,3840,3107,5389,5099,3737,50298,2208,70293,2022-07-01
3,2022,3,Chaco,461,9870,16782,18938,8049,15828,79390,3711,144146,2022-07-01
4,2022,3,Chubut,109,1444,45707,3094,34682,15309,17563,20024,165778,2022-07-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,2014,1,Santa Cruz,161,1625,24972,10,10,0,0,0,26760,2014-01-01
836,2014,1,Santa Fe,8456,124468,345225,20328,6845,230,668,0,506013,2014-01-01
837,2014,1,Santiago Del Estero,1234,10531,22817,2422,1090,0,0,0,37113,2014-01-01
838,2014,1,Tierra Del Fuego,12,6070,30902,60,0,0,0,0,31527,2014-01-01
839,2014,1,Tucumán,6,34672,83210,11779,3620,30,0,0,130032,2014-01-01

In [5516]:
rangos_velocidad_provincia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 834 entries, 0 to 839
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  834 non-null    int64
 1   Trimestre            834 non-null    int64
 2   Provincia            834 non-null    object
 3   HASTA 512 kbps       834 non-null    int32
 4   + 512 Kbps - 1 Mbps  834 non-null    int32
 5   + 1 Mbps - 6 Mbps    834 non-null    int32
 6   + 6 Mbps - 10 Mbps   834 non-null    int32
 7   + 10 Mbps - 20 Mbps  834 non-null    int32
 8   + 20 Mbps - 30 Mbps  834 non-null    int32
 9   + 30 Mbps            834 non-null    int32
 10  OTROS                834 non-null    int32
 11  Total                834 non-null    int32
 12  Fecha_Año-Trimestre  834 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int32(9), int64(2), object(1)
memory usage: 61.9+ KB

In [5517]:
rangos_velocidad_provincia.to_csv(r'csv\Acceso a Internet fijo por rango de velocidad por provincia.csv', index=False)

**2 Acceso a Internet fijo por tecnologia y provincia**

- Cambio del tipo de dato a tipo numérico
- Errores quitados y reemplazados de la columna año y trimestre.
- Agregado de una columna personalizada con la fecha por año y trimestre

In [5518]:
url_2 = "http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/ACCES-A-INTER-FIJO-POR/data.csv/?auth_key=7M9T9PjseAB7nXY6h4n5c0WFDiEBsWK6YmXzJX4u"

In [5519]:
# Realiza la petición GET a la API para la primera URL
response_2 = requests.get(url_2)

# Lee los datos del archivo CSV en un DataFrame de pandas
tecnologia_provincia = pd.read_csv(io.StringIO(response_2.content.decode('utf-8')))

# visualizamos 

tecnologia_provincia

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,3,Buenos Aires,339.648,2.748.325,1.436.433,126.846,70.416,4.721.668
1,2022,3,Capital Federal,140.791,1.240.125,129.218,5.758,31.787,1.547.679
2,2022,3,Catamarca,10.010,10.495,46.224,1.329,2.235,70.293
3,2022,3,Chaco,27.164,61.800,44.645,8.178,2.359,144.146
4,2022,3,Chubut,45.377,72.212,9.574,29.784,8.831,165.778
...,...,...,...,...,...,...,...,...,...
836,2014,1,Santa Fe,322.662,174.296,3.059,5.951,644.000,506.612
837,2014,1,Santiago Del Estero,32.567,3.598,19,915.000,34.000,37.133
838,2014,1,Tierra Del Fuego,21.618,2.837,648,1.000,2.934,28.038
839,2014,1,Tucumán,129.717,83,121,13.000,98.000,130.032
840,*,Los datos provinciales no coinciden a nivel na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5520]:
#Contamos los nulos por columnas, 
print(tecnologia_provincia.isna().sum(axis=0))

Año             0
Trimestre       0
Provincia       1
ADSL            1
Cablemodem      1
Fibra óptica    1
Wireless        1
Otros           1
Total           1
dtype: int64

In [5521]:
# eliminamos las filas donde tenemos campos vacios 
tecnologia_provincia = tecnologia_provincia.dropna()

In [5522]:
#Contamos los nulos por columnas, 
print(tecnologia_provincia.isna().sum(axis=0))

Año             0
Trimestre       0
Provincia       0
ADSL            0
Cablemodem      0
Fibra óptica    0
Wireless        0
Otros           0
Total           0
dtype: int64

In [5523]:
tecnologia_provincia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 840 entries, 0 to 839
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           840 non-null    object
 1   Trimestre     840 non-null    object
 2   Provincia     840 non-null    object
 3   ADSL          840 non-null    object
 4   Cablemodem    840 non-null    object
 5   Fibra óptica  840 non-null    object
 6   Wireless      840 non-null    float64
 7   Otros         840 non-null    float64
 8   Total         840 non-null    object
dtypes: float64(2), object(7)
memory usage: 65.6+ KB

In [5524]:
# cambio el tipo de dato

In [5525]:
tecnologia_provincia

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,3,Buenos Aires,339.648,2.748.325,1.436.433,126.846,70.416,4.721.668
1,2022,3,Capital Federal,140.791,1.240.125,129.218,5.758,31.787,1.547.679
2,2022,3,Catamarca,10.010,10.495,46.224,1.329,2.235,70.293
3,2022,3,Chaco,27.164,61.800,44.645,8.178,2.359,144.146
4,2022,3,Chubut,45.377,72.212,9.574,29.784,8.831,165.778
...,...,...,...,...,...,...,...,...,...
835,2014,1,Santa Cruz,18.927,100,381,4.092,3.264,26.764
836,2014,1,Santa Fe,322.662,174.296,3.059,5.951,644.000,506.612
837,2014,1,Santiago Del Estero,32.567,3.598,19,915.000,34.000,37.133
838,2014,1,Tierra Del Fuego,21.618,2.837,648,1.000,2.934,28.038
839,2014,1,Tucumán,129.717,83,121,13.000,98.000,130.032

In [5526]:
tecnologia_provincia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 840 entries, 0 to 839
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           840 non-null    object
 1   Trimestre     840 non-null    object
 2   Provincia     840 non-null    object
 3   ADSL          840 non-null    object
 4   Cablemodem    840 non-null    object
 5   Fibra óptica  840 non-null    object
 6   Wireless      840 non-null    float64
 7   Otros         840 non-null    float64
 8   Total         840 non-null    object
dtypes: float64(2), object(7)
memory usage: 65.6+ KB

In [5527]:
tecnologia_provincia.replace(0, np.nan, inplace=True)
tecnologia_provincia.dropna(inplace=True)

C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2147386815.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia.replace(0, np.nan, inplace=True)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\2147386815.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia.dropna(inplace=True)

In [5528]:
# Convierte las columnas que contienen valores numéricos en objetos

tecnologia_provincia['Año'] = tecnologia_provincia['Año'].astype(str)
tecnologia_provincia['Trimestre'] = tecnologia_provincia['Trimestre'].astype(str)
tecnologia_provincia['ADSL'] = tecnologia_provincia['ADSL'].astype(str)
tecnologia_provincia['Cablemodem'] = tecnologia_provincia['Cablemodem'].astype(str)
tecnologia_provincia['Fibra óptica'] = tecnologia_provincia['Fibra óptica'].astype(str)
tecnologia_provincia['Total'] = tecnologia_provincia['Total'].astype(str)

# elimino los puntos en las columnas correspondientes

tecnologia_provincia['Año'] = tecnologia_provincia['Año'].str.replace('*', '')
tecnologia_provincia['Trimestre'] = tecnologia_provincia['Trimestre'].str.replace('*', '')
tecnologia_provincia['ADSL'] = tecnologia_provincia['ADSL'].str.replace('.', '')
tecnologia_provincia['Cablemodem'] = tecnologia_provincia['Cablemodem'].str.replace('.', '')
tecnologia_provincia['Fibra óptica'] = tecnologia_provincia['Fibra óptica'].str.replace('.', '')
tecnologia_provincia['Total'] = tecnologia_provincia['Total'].str.replace('.', '')


# eliminos las comas en los espacios correspondientes 

# rangos_velocidad_provincia['Año'] = rangos_velocidad_provincia['Año'].str.replace(',', '')



# Convierte las columnas que corresponden a valores numéricos nuevamente a float


tecnologia_provincia['Año'] = tecnologia_provincia['Año'].astype(int)
tecnologia_provincia['Trimestre'] = tecnologia_provincia['Trimestre'].astype(int)
tecnologia_provincia['ADSL'] = tecnologia_provincia['ADSL'].astype(int)
tecnologia_provincia['Cablemodem'] = tecnologia_provincia['Cablemodem'].astype(int)
tecnologia_provincia['Fibra óptica'] = tecnologia_provincia['Fibra óptica'].astype(int)
tecnologia_provincia['Total'] = tecnologia_provincia['Total'].astype(int)

C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3835621491.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia['Año'] = tecnologia_provincia['Año'].astype(str)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3835621491.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia['Trimestre'] = tecnologia_provincia['Trimestre'].astype(str)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3835621491.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia['ADSL'] = tecnologia_provincia['ADSL'].astype(str)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3835621491.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia['Cablemodem'] = tecnologia_provincia['Cablemodem'].astype(str)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3835621491.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia['Fibra óptica'] = tecnologia_provincia['Fibra óptica'].astype(str)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3835621491.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia['Total'] = tecnologia_provincia['Total'].astype(str)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3835621491.py:12: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tecnologia_provincia['Año'] = tecnologia_provincia['Año'].str.replace('*', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3835621491.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia['Año'] = tecnologia_provincia['Año'].str.replace('*', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3835621491.py:13: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tecnologia_provincia['Trimestre'] = tecnologia_provincia['Trimestre'].str.replace('*', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3835621491.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia['Trimestre'] = tecnologia_provincia['Trimestre'].str.replace('*', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3835621491.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tecnologia_provincia['ADSL'] = tecnologia_provincia['ADSL'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3835621491.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia['ADSL'] = tecnologia_provincia['ADSL'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3835621491.py:15: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tecnologia_provincia['Cablemodem'] = tecnologia_provincia['Cablemodem'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3835621491.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia['Cablemodem'] = tecnologia_provincia['Cablemodem'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3835621491.py:16: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tecnologia_provincia['Fibra óptica'] = tecnologia_provincia['Fibra óptica'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3835621491.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia['Fibra óptica'] = tecnologia_provincia['Fibra óptica'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3835621491.py:17: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tecnologia_provincia['Total'] = tecnologia_provincia['Total'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3835621491.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia['Total'] = tecnologia_provincia['Total'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3835621491.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia['Año'] = tecnologia_provincia['Año'].astype(int)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3835621491.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia['Trimestre'] = tecnologia_provincia['Trimestre'].astype(int)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3835621491.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia['ADSL'] = tecnologia_provincia['ADSL'].astype(int)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3835621491.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia['Cablemodem'] = tecnologia_provincia['Cablemodem'].astype(int)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3835621491.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia['Fibra óptica'] = tecnologia_provincia['Fibra óptica'].astype(int)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3835621491.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia['Total'] = tecnologia_provincia['Total'].astype(int)

In [5529]:
# por ser float los tratamos diferentes

In [5530]:

tecnologia_provincia['Wireless'] = tecnologia_provincia['Wireless'].astype(str)
tecnologia_provincia['Wireless'] = tecnologia_provincia['Wireless'].str.replace('.', '')


tecnologia_provincia['Wireless'] = tecnologia_provincia['Wireless'].str.rstrip('0')
tecnologia_provincia['Wireless'] = tecnologia_provincia['Wireless'].astype(int)

C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\1111612471.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia['Wireless'] = tecnologia_provincia['Wireless'].astype(str)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\1111612471.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tecnologia_provincia['Wireless'] = tecnologia_provincia['Wireless'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\1111612471.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia['Wireless'] = tecnologia_provincia['Wireless'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\1111612471.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia['Wireless'] = tecnologia_provincia['Wireless'].str.rstrip('0')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\1111612471.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia['Wireless'] = tecnologia_provincia['Wireless'].astype(int)

In [5531]:
tecnologia_provincia['Otros'] = tecnologia_provincia['Otros'].astype(str)
tecnologia_provincia['Otros'] = tecnologia_provincia['Otros'].str.replace('.', '')


tecnologia_provincia['Otros'] = tecnologia_provincia['Otros'].str.rstrip('0')
tecnologia_provincia['Otros'] = tecnologia_provincia['Otros'].astype(int)

C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3393195051.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia['Otros'] = tecnologia_provincia['Otros'].astype(str)
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3393195051.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tecnologia_provincia['Otros'] = tecnologia_provincia['Otros'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3393195051.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia['Otros'] = tecnologia_provincia['Otros'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3393195051.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia['Otros'] = tecnologia_provincia['Otros'].str.rstrip('0')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3393195051.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tecnologia_provincia['Otros'] = tecnologia_provincia['Otros'].astype(int)

In [5532]:
tecnologia_provincia

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,3,Buenos Aires,339648,2748325,1436433,126846,70416,4721668
1,2022,3,Capital Federal,140791,1240125,129218,5758,31787,1547679
2,2022,3,Catamarca,10010,10495,46224,1329,2235,70293
3,2022,3,Chaco,27164,61800,44645,8178,2359,144146
4,2022,3,Chubut,45377,72212,9574,29784,8831,165778
...,...,...,...,...,...,...,...,...,...
835,2014,1,Santa Cruz,18927,100,381,4092,3264,26764
836,2014,1,Santa Fe,322662,174296,3059,5951,644,506612
837,2014,1,Santiago Del Estero,32567,3598,19,915,34,37133
838,2014,1,Tierra Del Fuego,21618,2837,648,1,2934,28038
839,2014,1,Tucumán,129717,83,121,13,98,130032

In [5533]:
tecnologia_provincia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 802 entries, 0 to 839
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           802 non-null    int32
 1   Trimestre     802 non-null    int32
 2   Provincia     802 non-null    object
 3   ADSL          802 non-null    int32
 4   Cablemodem    802 non-null    int32
 5   Fibra óptica  802 non-null    int32
 6   Wireless      802 non-null    int32
 7   Otros         802 non-null    int32
 8   Total         802 non-null    int32
dtypes: int32(8), object(1)
memory usage: 37.6+ KB

In [5534]:
# Eliminar filas con errores en la columna 'Trimestre'
tecnologia_provincia = tecnologia_provincia.dropna(subset=['Trimestre'], axis=0)

In [5535]:
# creamos una columna nueva 

tecnologia_provincia["Fecha_Año-Trimestre"] = (tecnologia_provincia["Trimestre"]*2 + (tecnologia_provincia["Trimestre"]-2)).astype(str) + "/" + "1"  + "/" + tecnologia_provincia["Año"].astype(str)

In [5536]:
# cambio el tipo de dato de "Fecha_Año-Trimestre" a una fecha 

tecnologia_provincia['Fecha_Año-Trimestre'] = pd.to_datetime(tecnologia_provincia['Fecha_Año-Trimestre'], errors='coerce')

In [5537]:
tecnologia_provincia

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Fecha_Año-Trimestre
0,2022,3,Buenos Aires,339648,2748325,1436433,126846,70416,4721668,2022-07-01
1,2022,3,Capital Federal,140791,1240125,129218,5758,31787,1547679,2022-07-01
2,2022,3,Catamarca,10010,10495,46224,1329,2235,70293,2022-07-01
3,2022,3,Chaco,27164,61800,44645,8178,2359,144146,2022-07-01
4,2022,3,Chubut,45377,72212,9574,29784,8831,165778,2022-07-01
...,...,...,...,...,...,...,...,...,...,...
835,2014,1,Santa Cruz,18927,100,381,4092,3264,26764,2014-01-01
836,2014,1,Santa Fe,322662,174296,3059,5951,644,506612,2014-01-01
837,2014,1,Santiago Del Estero,32567,3598,19,915,34,37133,2014-01-01
838,2014,1,Tierra Del Fuego,21618,2837,648,1,2934,28038,2014-01-01
839,2014,1,Tucumán,129717,83,121,13,98,130032,2014-01-01

In [5538]:
tecnologia_provincia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 802 entries, 0 to 839
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  802 non-null    int32
 1   Trimestre            802 non-null    int32
 2   Provincia            802 non-null    object
 3   ADSL                 802 non-null    int32
 4   Cablemodem           802 non-null    int32
 5   Fibra óptica         802 non-null    int32
 6   Wireless             802 non-null    int32
 7   Otros                802 non-null    int32
 8   Total                802 non-null    int32
 9   Fecha_Año-Trimestre  802 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int32(8), object(1)
memory usage: 43.9+ KB

In [5539]:
tecnologia_provincia.to_csv(r'csv\Acceso a Internet fijo por tecnologia y provincia.csv', index=False)

 3  Accesos a Internet fijo por tecnología y localidad
 
- elimino columna 
- conviert los - 0 en 0
- elimino los .
- Cambio del tipo de dato a tipo numérico
- elimino filas que estan con valores Sin Datos

In [5540]:
# nos conectamos a la api

url_3 = "http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/ACCES-A-INTER-FIJO-62463/data.csv/?auth_key=ze6JyI1lJZrqfojUKs641fl5ibIBxys97Rx1ZZdp"

In [5541]:
# Realiza la petición GET a la API para la primera URL
response_3 = requests.get(url_3)

# Lee los datos del archivo CSV en un DataFrame de pandas
tecnologia_localidad = pd.read_csv(io.StringIO(response_3.content.decode('utf-8')))

# visualizamos 

tecnologia_localidad

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general,Unnamed: 13
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,873,4.704,- 0,2,- 0,975,- 0,664,7.218,NaN
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,- 0,- 0,- 0,10,1,- 0,- 0,192,NaN
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,- 0,- 0,- 0,- 0,- 0,- 0,- 0,181,181,NaN
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,- 0,782,- 0,6,167,- 0,- 0,327,1.282,NaN
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,- 0,- 0,- 0,- 0,- 0,- 0,- 0,6,6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,TUCUMAN,Tafí Viejo,Villa Mariano Moreno - El Colmenar,90105100,- 0,1,- 0,471,- 0,- 0,- 0,- 0,472,NaN
3138,TUCUMAN,Trancas,San Pedro de Colalao,90112020,- 0,- 0,- 0,- 0,- 0,- 0,- 0,313,313,NaN
3139,TUCUMAN,Trancas,Villa de Trancas,90112030,150,- 0,- 0,- 0,33,- 0,- 0,99,282,NaN
3140,TUCUMAN,Yerba Buena,Villa Carmela,90119020,1.725,- 0,- 0,- 0,1,- 0,- 0,97,1.823,NaN
3141,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,129,203,- 0,15.511,33,- 0,- 0,- 0,15.876,NaN

In [5542]:
#Contamos los nulos por columnas, 
print(rangos_velocidad_provincia.isna().sum(axis=0))

Año                    0
Trimestre              0
Provincia              0
HASTA 512 kbps         0
+ 512 Kbps - 1 Mbps    0
+ 1 Mbps - 6 Mbps      0
+ 6 Mbps - 10 Mbps     0
+ 10 Mbps - 20 Mbps    0
+ 20 Mbps - 30 Mbps    0
+ 30 Mbps              0
OTROS                  0
Total                  0
Fecha_Año-Trimestre    0
dtype: int64

In [5543]:
#eliminamos columna 

tecnologia_localidad = tecnologia_localidad.drop(tecnologia_localidad.columns[13], axis='columns')
tecnologia_localidad

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,873,4.704,- 0,2,- 0,975,- 0,664,7.218
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,- 0,- 0,- 0,10,1,- 0,- 0,192
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,- 0,- 0,- 0,- 0,- 0,- 0,- 0,181,181
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,- 0,782,- 0,6,167,- 0,- 0,327,1.282
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,- 0,- 0,- 0,- 0,- 0,- 0,- 0,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,TUCUMAN,Tafí Viejo,Villa Mariano Moreno - El Colmenar,90105100,- 0,1,- 0,471,- 0,- 0,- 0,- 0,472
3138,TUCUMAN,Trancas,San Pedro de Colalao,90112020,- 0,- 0,- 0,- 0,- 0,- 0,- 0,313,313
3139,TUCUMAN,Trancas,Villa de Trancas,90112030,150,- 0,- 0,- 0,33,- 0,- 0,99,282
3140,TUCUMAN,Yerba Buena,Villa Carmela,90119020,1.725,- 0,- 0,- 0,1,- 0,- 0,97,1.823
3141,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,129,203,- 0,15.511,33,- 0,- 0,- 0,15.876

In [5544]:
# eliminamos las filas donde tenemos campos vacios 
rangos_velocidad_provincia = rangos_velocidad_provincia.dropna()

In [5545]:
tecnologia_localidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      3142 non-null   object
 1   Partido        3142 non-null   object
 2   Localidad      3142 non-null   object
 3   Link Indec     3142 non-null   object
 4   ADSL           3142 non-null   object
 5   CABLEMODEM     3142 non-null   object
 6   DIAL UP        3142 non-null   object
 7   FIBRA OPTICA   3142 non-null   object
 8   OTROS          3142 non-null   object
 9   SATELITAL      3142 non-null   object
 10  WIMAX          3142 non-null   object
 11  WIRELESS       3142 non-null   object
 12  Total general  3142 non-null   object
dtypes: object(13)
memory usage: 319.2+ KB

In [5546]:
# Convierte las columnas que contienen valores numéricos en objetos

tecnologia_localidad['ADSL'] = tecnologia_localidad['ADSL'].astype(str)
tecnologia_localidad['CABLEMODEM'] = tecnologia_localidad['CABLEMODEM'].astype(str)
tecnologia_localidad['DIAL UP'] = tecnologia_localidad['DIAL UP'].astype(str)
tecnologia_localidad['FIBRA OPTICA'] = tecnologia_localidad['FIBRA OPTICA'].astype(str)
tecnologia_localidad['OTROS'] = tecnologia_localidad['OTROS'].astype(str)
tecnologia_localidad['SATELITAL'] = tecnologia_localidad['SATELITAL'].astype(str)
tecnologia_localidad['WIMAX'] = tecnologia_localidad['WIMAX'].astype(str)
tecnologia_localidad['WIRELESS'] = tecnologia_localidad['WIRELESS'].astype(str)
tecnologia_localidad['Total general'] = tecnologia_localidad['Total general'].astype(str)

# elimino los "- 0" por " 0"

tecnologia_localidad['ADSL'] = tecnologia_localidad['ADSL'].str.replace('- 0', '0')
tecnologia_localidad['CABLEMODEM'] = tecnologia_localidad['CABLEMODEM'].str.replace('- 0', '0')
tecnologia_localidad['DIAL UP'] = tecnologia_localidad['DIAL UP'].str.replace('- 0', '0')
tecnologia_localidad['FIBRA OPTICA'] = tecnologia_localidad['FIBRA OPTICA'].str.replace('- 0', '0')
tecnologia_localidad['OTROS'] = tecnologia_localidad['OTROS'].str.replace('- 0', '0')
tecnologia_localidad['SATELITAL'] = tecnologia_localidad['SATELITAL'].str.replace('- 0', '0')
tecnologia_localidad['WIMAX'] = tecnologia_localidad['WIMAX'].str.replace('- 0', '0')
tecnologia_localidad['WIRELESS'] = tecnologia_localidad['WIRELESS'].str.replace('- 0', '0')
tecnologia_localidad['Total general'] = tecnologia_localidad['Total general'].str.replace('- 0', '0')

# eliminos los puntos 

tecnologia_localidad['ADSL'] = tecnologia_localidad['ADSL'].str.replace('.', '')
tecnologia_localidad['CABLEMODEM'] = tecnologia_localidad['CABLEMODEM'].str.replace('.', '')
tecnologia_localidad['DIAL UP'] = tecnologia_localidad['DIAL UP'].str.replace('.', '')
tecnologia_localidad['FIBRA OPTICA'] = tecnologia_localidad['FIBRA OPTICA'].str.replace('.', '')
tecnologia_localidad['OTROS'] = tecnologia_localidad['OTROS'].str.replace('.', '')
tecnologia_localidad['SATELITAL'] = tecnologia_localidad['SATELITAL'].str.replace('.', '')
tecnologia_localidad['WIMAX'] = tecnologia_localidad['WIMAX'].str.replace('.', '')
tecnologia_localidad['WIRELESS'] = tecnologia_localidad['WIRELESS'].str.replace('.', '')
tecnologia_localidad['Total general'] = tecnologia_localidad['Total general'].str.replace('.', '')

# Convierte las columnas que corresponden a valores numéricos nuevamente a float


tecnologia_localidad['ADSL'] = tecnologia_localidad['ADSL'].astype(int)
tecnologia_localidad['CABLEMODEM'] = tecnologia_localidad['CABLEMODEM'].astype(int)
tecnologia_localidad['DIAL UP'] = tecnologia_localidad['DIAL UP'].astype(int)
tecnologia_localidad['FIBRA OPTICA'] = tecnologia_localidad['FIBRA OPTICA'].astype(int)
tecnologia_localidad['OTROS'] = tecnologia_localidad['OTROS'].astype(int)
tecnologia_localidad['SATELITAL'] = tecnologia_localidad['SATELITAL'].astype(int)
tecnologia_localidad['WIMAX'] = tecnologia_localidad['WIMAX'].astype(int)
tecnologia_localidad['WIRELESS'] = tecnologia_localidad['WIRELESS'].astype(int)
tecnologia_localidad['Total general'] = tecnologia_localidad['Total general'].astype(int)

C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3455341632.py:27: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tecnologia_localidad['ADSL'] = tecnologia_localidad['ADSL'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3455341632.py:28: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tecnologia_localidad['CABLEMODEM'] = tecnologia_localidad['CABLEMODEM'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3455341632.py:29: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tecnologia_localidad['DIAL UP'] = tecnologia_localidad['DIAL UP'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3455341632.py:30: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tecnologia_localidad['FIBRA OPTICA'] = tecnologia_localidad['FIBRA OPTICA'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3455341632.py:31: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tecnologia_localidad['OTROS'] = tecnologia_localidad['OTROS'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3455341632.py:32: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tecnologia_localidad['SATELITAL'] = tecnologia_localidad['SATELITAL'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3455341632.py:33: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tecnologia_localidad['WIMAX'] = tecnologia_localidad['WIMAX'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3455341632.py:34: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tecnologia_localidad['WIRELESS'] = tecnologia_localidad['WIRELESS'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\3455341632.py:35: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  tecnologia_localidad['Total general'] = tecnologia_localidad['Total general'].str.replace('.', '')

In [5547]:


tecnologia_localidad.replace('Sin Datos', pd.np.nan, inplace=True)

tecnologia_localidad.dropna(inplace=True)

C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\234276410.py:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  tecnologia_localidad.replace('Sin Datos', pd.np.nan, inplace=True)

In [5548]:
tecnologia_localidad['Link Indec'] = tecnologia_localidad['Link Indec'].astype(str)


tecnologia_localidad['Link Indec'] = tecnologia_localidad['Link Indec'].astype(int)

In [5549]:
tecnologia_localidad

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,873,4704,0,2,0,975,0,664,7218
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,0,0,0,10,1,0,0,192
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,0,0,0,0,0,0,0,181,181
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,0,782,0,6,167,0,0,327,1282
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,0,0,0,0,0,0,0,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,TUCUMAN,Tafí Viejo,Villa Mariano Moreno - El Colmenar,90105100,0,1,0,471,0,0,0,0,472
3138,TUCUMAN,Trancas,San Pedro de Colalao,90112020,0,0,0,0,0,0,0,313,313
3139,TUCUMAN,Trancas,Villa de Trancas,90112030,150,0,0,0,33,0,0,99,282
3140,TUCUMAN,Yerba Buena,Villa Carmela,90119020,1725,0,0,0,1,0,0,97,1823
3141,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,129,203,0,15511,33,0,0,0,15876

In [5550]:
tecnologia_localidad.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3070 entries, 0 to 3141
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      3070 non-null   object
 1   Partido        3070 non-null   object
 2   Localidad      3070 non-null   object
 3   Link Indec     3070 non-null   int32
 4   ADSL           3070 non-null   int32
 5   CABLEMODEM     3070 non-null   int32
 6   DIAL UP        3070 non-null   int32
 7   FIBRA OPTICA   3070 non-null   int32
 8   OTROS          3070 non-null   int32
 9   SATELITAL      3070 non-null   int32
 10  WIMAX          3070 non-null   int32
 11  WIRELESS       3070 non-null   int32
 12  Total general  3070 non-null   int32
dtypes: int32(10), object(3)
memory usage: 215.9+ KB

In [5551]:
tecnologia_localidad

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,873,4704,0,2,0,975,0,664,7218
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,0,0,0,10,1,0,0,192
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,0,0,0,0,0,0,0,181,181
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,0,782,0,6,167,0,0,327,1282
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,0,0,0,0,0,0,0,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,TUCUMAN,Tafí Viejo,Villa Mariano Moreno - El Colmenar,90105100,0,1,0,471,0,0,0,0,472
3138,TUCUMAN,Trancas,San Pedro de Colalao,90112020,0,0,0,0,0,0,0,313,313
3139,TUCUMAN,Trancas,Villa de Trancas,90112030,150,0,0,0,33,0,0,99,282
3140,TUCUMAN,Yerba Buena,Villa Carmela,90119020,1725,0,0,0,1,0,0,97,1823
3141,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,129,203,0,15511,33,0,0,0,15876

In [5552]:
tecnologia_localidad.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3070 entries, 0 to 3141
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      3070 non-null   object
 1   Partido        3070 non-null   object
 2   Localidad      3070 non-null   object
 3   Link Indec     3070 non-null   int32
 4   ADSL           3070 non-null   int32
 5   CABLEMODEM     3070 non-null   int32
 6   DIAL UP        3070 non-null   int32
 7   FIBRA OPTICA   3070 non-null   int32
 8   OTROS          3070 non-null   int32
 9   SATELITAL      3070 non-null   int32
 10  WIMAX          3070 non-null   int32
 11  WIRELESS       3070 non-null   int32
 12  Total general  3070 non-null   int32
dtypes: int32(10), object(3)
memory usage: 215.9+ KB

In [5553]:
tecnologia_localidad.to_csv(r'csv\Accesos a Internet fijo por tecnología y localidad.csv', index=False)

In [5554]:
tecnologia_localidad

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,873,4704,0,2,0,975,0,664,7218
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,0,0,0,10,1,0,0,192
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,0,0,0,0,0,0,0,181,181
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,0,782,0,6,167,0,0,327,1282
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,0,0,0,0,0,0,0,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,TUCUMAN,Tafí Viejo,Villa Mariano Moreno - El Colmenar,90105100,0,1,0,471,0,0,0,0,472
3138,TUCUMAN,Trancas,San Pedro de Colalao,90112020,0,0,0,0,0,0,0,313,313
3139,TUCUMAN,Trancas,Villa de Trancas,90112030,150,0,0,0,33,0,0,99,282
3140,TUCUMAN,Yerba Buena,Villa Carmela,90119020,1725,0,0,0,1,0,0,97,1823
3141,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,129,203,0,15511,33,0,0,0,15876

4  Acceso a Internet, cada 100 hogares por provincia
  
- eliminamos las "," por "."
- Cambio del tipo de dato a tipo numérico
- Agregado de una columna personalizada con la fecha por año y trimestre.

In [5555]:
url_4 = "http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/PENET-DEL-INTER-FIJO-51614/data.csv/?auth_key=BJT7dMP0vKqfSktst9NwqQA7NOcPuzgCmE6XlsTM"

In [5556]:
# Realiza la petición GET a la API para la primera URL
response_4 = requests.get(url_4)

# Lee los datos del archivo CSV en un DataFrame de pandas
internet_provincia_100hogares = pd.read_csv(io.StringIO(response_4.content.decode('utf-8')))

# visualizamos 

internet_provincia_100hogares

      Año  Trimestre            Provincia Accesos por cada 100 hogares
0    2022          3         Buenos Aires                        78,11
1    2022          3      Capital Federal                       122,28
2    2022          3            Catamarca                        65,33
3    2022          3                Chaco                        43,86
4    2022          3               Chubut                        84,38
..    ...        ...                  ...                          ...
835  2014          1           Santa Cruz                        28,94
836  2014          1             Santa Fe                        47,85
837  2014          1  Santiago Del Estero                        16,31
838  2014          1     Tierra Del Fuego                        63,97
839  2014          1              Tucumán                        33,42

[840 rows x 4 columns]

In [5557]:
internet_provincia_100hogares.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    int64
 1   Trimestre                     840 non-null    int64
 2   Provincia                     840 non-null    object
 3   Accesos por cada 100 hogares  840 non-null    object
dtypes: int64(2), object(2)
memory usage: 26.4+ KB

In [5558]:
#Contamos los nulos por columnas
print(internet_provincia_100hogares.isna().sum())

Año                             0
Trimestre                       0
Provincia                       0
Accesos por cada 100 hogares    0
dtype: int64

In [5559]:
internet_provincia_100hogares

      Año  Trimestre            Provincia Accesos por cada 100 hogares
0    2022          3         Buenos Aires                        78,11
1    2022          3      Capital Federal                       122,28
2    2022          3            Catamarca                        65,33
3    2022          3                Chaco                        43,86
4    2022          3               Chubut                        84,38
..    ...        ...                  ...                          ...
835  2014          1           Santa Cruz                        28,94
836  2014          1             Santa Fe                        47,85
837  2014          1  Santiago Del Estero                        16,31
838  2014          1     Tierra Del Fuego                        63,97
839  2014          1              Tucumán                        33,42

[840 rows x 4 columns]

In [5560]:
internet_provincia_100hogares.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    int64
 1   Trimestre                     840 non-null    int64
 2   Provincia                     840 non-null    object
 3   Accesos por cada 100 hogares  840 non-null    object
dtypes: int64(2), object(2)
memory usage: 26.4+ KB

In [5561]:
# creamos una columna nueva 

internet_provincia_100hogares["Fecha_Año-Trimestre"] = (internet_provincia_100hogares["Trimestre"]*2 + (internet_provincia_100hogares["Trimestre"]-2)).astype(str) + "/" + "1"  + "/" + internet_provincia_100hogares["Año"].astype(str)

In [5562]:
# cambio el tipo de dato de "Fecha_Año-Trimestre" a una fecha 

internet_provincia_100hogares['Fecha_Año-Trimestre'] = pd.to_datetime(internet_provincia_100hogares['Fecha_Año-Trimestre'], errors='coerce')

In [5563]:
internet_provincia_100hogares

,Año,Trimestre,Provincia,Accesos por cada 100 hogares,Fecha_Año-Trimestre
0,2022,3,Buenos Aires,"78,11",2022-07-01
1,2022,3,Capital Federal,"122,28",2022-07-01
2,2022,3,Catamarca,"65,33",2022-07-01
3,2022,3,Chaco,"43,86",2022-07-01
4,2022,3,Chubut,"84,38",2022-07-01
...,...,...,...,...,...
835,2014,1,Santa Cruz,"28,94",2014-01-01
836,2014,1,Santa Fe,"47,85",2014-01-01
837,2014,1,Santiago Del Estero,"16,31",2014-01-01
838,2014,1,Tierra Del Fuego,"63,97",2014-01-01
839,2014,1,Tucumán,"33,42",2014-01-01

In [5564]:
internet_provincia_100hogares.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    int64
 1   Trimestre                     840 non-null    int64
 2   Provincia                     840 non-null    object
 3   Accesos por cada 100 hogares  840 non-null    object
 4   Fecha_Año-Trimestre           840 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 32.9+ KB

In [5565]:
internet_provincia_100hogares.to_csv(r'csv\Acceso a Internet, cada 100 hogares por provincia.csv', index=False)

5- Calendario

In [5566]:
# Generar la secuencia de fechas trimestrales
fechas = pd.date_range(start="01/01/2014", end="31/12/2022")

# Crear el DataFrame vacío
calendario = pd.DataFrame()

# Asignar las fechas a una columna llamada Fecha_Año-Trimestre
calendario = calendario.assign(**{"Fecha_Año-Trimestre": fechas})

# Mostrar el resultado
print(calendario)

     Fecha_Año-Trimestre
0             2014-01-01
1             2014-01-02
2             2014-01-03
3             2014-01-04
4             2014-01-05
...                  ...
3282          2022-12-27
3283          2022-12-28
3284          2022-12-29
3285          2022-12-30
3286          2022-12-31

[3287 rows x 1 columns]

C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\150172305.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  fechas = pd.date_range(start="01/01/2014", end="31/12/2022")

In [5567]:
# cambio el tipo de dato de "Fecha_Año-Trimestre" a una fecha 

calendario['Fecha_Año-Trimestre'] = pd.to_datetime(calendario['Fecha_Año-Trimestre'], errors='coerce')

In [5568]:
calendario['Año'] = calendario['Fecha_Año-Trimestre'].dt.year
calendario['Trimestre'] = calendario['Fecha_Año-Trimestre'].dt.quarter

In [5569]:
calendario

     Fecha_Año-Trimestre   Año  Trimestre
0             2014-01-01  2014          1
1             2014-01-02  2014          1
2             2014-01-03  2014          1
3             2014-01-04  2014          1
4             2014-01-05  2014          1
...                  ...   ...        ...
3282          2022-12-27  2022          4
3283          2022-12-28  2022          4
3284          2022-12-29  2022          4
3285          2022-12-30  2022          4
3286          2022-12-31  2022          4

[3287 rows x 3 columns]

In [5570]:
calendario.to_csv(r'csv\calendario.csv', index=False)

**6  Ingresos trimestrales por la prestación del servicio de Internet fijo**

- Cambio del tipo de dato a tipo numérico
- Agregado de una columna personalizada con la fecha por año y trimestre.

In [5571]:
# nos conectamos a la api

url_6 = "https://datosabiertos.enacom.gob.ar/rest/datastreams/275023/data.csv"

In [5572]:
# Realiza la petición GET a la API para la primera URL
response_6 = requests.get(url_6)

# Lee los datos del archivo CSV en un DataFrame de pandas
ingresos_miles_pesos = pd.read_csv(io.StringIO(response_6.content.decode('utf-8')))

# visualizamos 

ingresos_miles_pesos

     Año  Trimestre Ingresos (miles de pesos)        Periodo
0   2022          3                67.055.930  Jul-Sept 2022
1   2022          2                60.335.724   Abr-Jun 2022
2   2022          1                55.589.997   Ene-Mar 2022
3   2021          4                45.467.887   Oct-Dic 2021
4   2021          3                42.999.944  Jul-Sept 2021
5   2021          2                38.239.667   Abr-Jun 2021
6   2021          1                36.676.371   Ene-Mar 2021
7   2020          4                33.539.703   Oct-Dic 2020
8   2020          3                31.997.445  Jul-Sept 2020
9   2020          2                32.102.476   Abr-Jun 2020
10  2020          1                29.946.216   Ene-Mar 2020
11  2019          4                24.169.251   Oct-Dic 2019
12  2019          3                21.652.748  Jul-Sept 2019
13  2019          2                20.743.118   Abr-Jun 2019
14  2019          1                20.207.414   Ene-Mar 2019
15  2018          4                16.637.687   Oct-Dic 2018
16  2018          3                15.410.981  Jul-Sept 2018
17  2018          2                14.319.467   Abr-Jun 2018
18  2018          1                13.171.459   Ene-Mar 2018
19  2017          4                11.226.127   Oct-Dic 2017
20  2017          3                10.065.998  Jul-Sept 2017
21  2017          2                 9.678.647   Abr-Jun 2017
22  2017          1                 8.701.201   Ene-Mar 2017
23  2016          4                 7.483.980   Oct-Dic 2016
24  2016          3                 6.912.442  Jul-Sept 2016
25  2016          2                 6.534.241   Abr-Jun 2016
26  2016          1                 5.936.845   Ene-Mar 2016
27  2015          4                 5.376.899   Oct-Dic 2015
28  2015          3                 5.153.739  Jul-Sept 2015
29  2015          2                 4.701.791   Abr-Jun 2015
30  2015          1                 4.876.385   Ene-Mar 2015
31  2014          4                 3.950.441   Oct-Dic 2014
32  2014          3                 3.478.638  Jul-Sept 2014
33  2014          2                 3.270.816   Abr-Jun 2014
34  2014          1                 2.984.054   Ene-Mar 2014

In [5573]:
ingresos_miles_pesos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        35 non-null     int64
 1   Trimestre                  35 non-null     int64
 2   Ingresos (miles de pesos)  35 non-null     object
 3   Periodo                    35 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

In [5574]:
# cambiamos el tipo de dato

In [5575]:
# Convierte las columnas que contienen valores numéricos en objetos

ingresos_miles_pesos['Ingresos (miles de pesos)'] = ingresos_miles_pesos['Ingresos (miles de pesos)'].astype(str)


# elimino los puntos en las columnas correspondientes

ingresos_miles_pesos['Ingresos (miles de pesos)'] = ingresos_miles_pesos['Ingresos (miles de pesos)'].str.replace('.', '')



# Convierte las columnas que corresponden a valores numéricos nuevamente a float


ingresos_miles_pesos['Ingresos (miles de pesos)'] = ingresos_miles_pesos['Ingresos (miles de pesos)'].astype(int)

C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\848634368.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  ingresos_miles_pesos['Ingresos (miles de pesos)'] = ingresos_miles_pesos['Ingresos (miles de pesos)'].str.replace('.', '')

In [5576]:
ingresos_miles_pesos.head()

    Año  Trimestre  Ingresos (miles de pesos)        Periodo
0  2022          3                   67055930  Jul-Sept 2022
1  2022          2                   60335724   Abr-Jun 2022
2  2022          1                   55589997   Ene-Mar 2022
3  2021          4                   45467887   Oct-Dic 2021
4  2021          3                   42999944  Jul-Sept 2021

In [5577]:
# creamos una columna nueva 

ingresos_miles_pesos["Fecha_Año-Trimestre"] = (ingresos_miles_pesos["Trimestre"]*2 + (ingresos_miles_pesos["Trimestre"]-2)).astype(str) + "/" + "1"  + "/" + ingresos_miles_pesos["Año"].astype(str)

In [5578]:
# cambio el tipo de dato de "Fecha_Año-Trimestre" a una fecha 

ingresos_miles_pesos['Fecha_Año-Trimestre'] = pd.to_datetime(ingresos_miles_pesos['Fecha_Año-Trimestre'], errors='coerce')

In [5579]:
ingresos_miles_pesos.head()

,Año,Trimestre,Ingresos (miles de pesos),Periodo,Fecha_Año-Trimestre
0,2022,3,67055930,Jul-Sept 2022,2022-07-01
1,2022,2,60335724,Abr-Jun 2022,2022-04-01
2,2022,1,55589997,Ene-Mar 2022,2022-01-01
3,2021,4,45467887,Oct-Dic 2021,2021-10-01
4,2021,3,42999944,Jul-Sept 2021,2021-07-01

In [5580]:
ingresos_miles_pesos.to_csv(r'csv\Ingresos trimestrales por la prestación del servicio de Internet fijo.csv', index=False)

7- Listado de localidades con conectividad a internet

- renombramos columnas 
- Cambio del tipo de dato
- Agregado de una Columna condicional con el título de conectividad donde se resume si cada localidad por provincia posee o no al menos algún servicio de internet.

In [5581]:
# nos conectamos a la api

url_7 = "http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/LISTA-DE-LOCAL-CON-CONEC/data.csv/?auth_key=ms0kSQtl4YgqBRFmj1PDqqCjtNVh3tV4hMU3fVIC"

In [5582]:
# Realiza la petición GET a la API para la primera URL
response_7 = requests.get(url_7)

# Lee los datos del archivo CSV en un DataFrame de pandas
localidades_conectividad = pd.read_csv(io.StringIO(response_7.content.decode('utf-8')))

# visualizamos 

localidades_conectividad

,Provincia,Unnamed: 1,Localidad,ADSL,CABLEMODEM,Unnamed: 5,FIBRAOPTICA,4G,3G,Unnamed: 9,WIRELESS,Unnamed: 11
0,BUENOS AIRES,Bahía Blanca,NaN,--,--,--,NaN,SI,SI,--,--,NaN
1,NaN,Bahía Blanca,Villa Espora,NaN,NaN,--,--,--,NaN,--,NaN,--
2,BUENOS AIRES,Balcarce,Balcarce,NaN,SI,SI,SI,NaN,SI,SI,SI,--
3,NaN,Balcarce,Los Pinos,NaN,NaN,--,--,NaN,NaN,SI,SI,--
4,NaN,Balcarce,Napaleofú,--,NaN,--,SI,SI,NaN,SI,SI,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4307,CHACO,NaN,NaN,SI,--,NaN,NaN,SI,SI,NaN,SI,NaN
4308,CHACO,NaN,Villa El Palmar,--,--,NaN,--,SI,--,NaN,SI,--
4309,NaN,San Fernando,Barranqueras,NaN,NaN,--,SI,NaN,NaN,SI,NaN,--
4310,CHACO,San Fernando,Basail,NaN,SI,--,--,NaN,SI,SI,SI,SI
4311,CHACO,NaN,NaN,--,--,NaN,NaN,SI,SI,NaN,--,NaN

In [5583]:
localidades_conectividad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4312 entries, 0 to 4311
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Provincia    2887 non-null   object
 1   Unnamed: 1   2881 non-null   object
 2   Localidad    2867 non-null   object
 3   ADSL         2865 non-null   object
 4   CABLEMODEM   2879 non-null   object
 5   Unnamed: 5   2879 non-null   object
 6   FIBRAOPTICA  2870 non-null   object
 7   4G           2866 non-null   object
 8   3G           2883 non-null   object
 9   Unnamed: 9   2878 non-null   object
 10  WIRELESS     2871 non-null   object
 11  Unnamed: 11  2875 non-null   object
dtypes: object(12)
memory usage: 404.4+ KB

In [5584]:
 # Cambiamos el nombre de la columna 

localidades_conectividad = localidades_conectividad.rename(columns={'Unnamed: 1': 'Partido '})
localidades_conectividad = localidades_conectividad.rename(columns={'Unnamed: 5': 'DIALUP'})
localidades_conectividad = localidades_conectividad.rename(columns={'Unnamed: 9': 'TELEFONIAFIJA'})
localidades_conectividad = localidades_conectividad.rename(columns={'Unnamed: 11': 'SATELITAL'})

In [5585]:
localidades_conectividad

,Provincia,Partido,Localidad,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,4G,3G,TELEFONIAFIJA,WIRELESS,SATELITAL
0,BUENOS AIRES,Bahía Blanca,NaN,--,--,--,NaN,SI,SI,--,--,NaN
1,NaN,Bahía Blanca,Villa Espora,NaN,NaN,--,--,--,NaN,--,NaN,--
2,BUENOS AIRES,Balcarce,Balcarce,NaN,SI,SI,SI,NaN,SI,SI,SI,--
3,NaN,Balcarce,Los Pinos,NaN,NaN,--,--,NaN,NaN,SI,SI,--
4,NaN,Balcarce,Napaleofú,--,NaN,--,SI,SI,NaN,SI,SI,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4307,CHACO,NaN,NaN,SI,--,NaN,NaN,SI,SI,NaN,SI,NaN
4308,CHACO,NaN,Villa El Palmar,--,--,NaN,--,SI,--,NaN,SI,--
4309,NaN,San Fernando,Barranqueras,NaN,NaN,--,SI,NaN,NaN,SI,NaN,--
4310,CHACO,San Fernando,Basail,NaN,SI,--,--,NaN,SI,SI,SI,SI
4311,CHACO,NaN,NaN,--,--,NaN,NaN,SI,SI,NaN,--,NaN

In [5586]:
localidades_conectividad = localidades_conectividad.dropna(subset=['Provincia'])

In [5587]:
localidades_conectividad = localidades_conectividad.dropna(subset=['Localidad'])

In [5588]:
localidades_conectividad.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1442 entries, 2 to 4310
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      1442 non-null   object
 1   Partido        731 non-null    object
 2   Localidad      1442 non-null   object
 3   ADSL           711 non-null    object
 4   CABLEMODEM     1393 non-null   object
 5   DIALUP         731 non-null    object
 6   FIBRAOPTICA    1399 non-null   object
 7   4G             711 non-null    object
 8   3G             1346 non-null   object
 9   TELEFONIAFIJA  731 non-null    object
 10  WIRELESS       963 non-null    object
 11  SATELITAL      955 non-null    object
dtypes: object(12)
memory usage: 146.5+ KB

In [5589]:
localidades_conectividad['ADSL'] = localidades_conectividad['ADSL'].fillna('NO')
localidades_conectividad['CABLEMODEM'] = localidades_conectividad['CABLEMODEM'].fillna('NO')
localidades_conectividad['DIALUP'] = localidades_conectividad['DIALUP'].fillna('NO')
localidades_conectividad['FIBRAOPTICA'] = localidades_conectividad['FIBRAOPTICA'].fillna('NO')
localidades_conectividad['4G'] = localidades_conectividad['4G'].fillna('NO')
localidades_conectividad['3G'] = localidades_conectividad['3G'].fillna('NO')
localidades_conectividad['TELEFONIAFIJA'] = localidades_conectividad['TELEFONIAFIJA'].fillna('NO')
localidades_conectividad['WIRELESS'] = localidades_conectividad['WIRELESS'].fillna('NO')
localidades_conectividad['SATELITAL'] = localidades_conectividad['SATELITAL'].fillna('NO')




# elimino los puntos en las columnas correspondientes

localidades_conectividad['ADSL'] = localidades_conectividad['ADSL'].str.replace('--', 'NO')
localidades_conectividad['CABLEMODEM'] = localidades_conectividad['CABLEMODEM'].str.replace('--', 'NO')
localidades_conectividad['DIALUP'] = localidades_conectividad['DIALUP'].str.replace('--', 'NO')
localidades_conectividad['FIBRAOPTICA'] = localidades_conectividad['FIBRAOPTICA'].str.replace('--', 'NO')
localidades_conectividad['4G'] = localidades_conectividad['4G'].str.replace('--', 'NO')
localidades_conectividad['3G'] = localidades_conectividad['3G'].str.replace('--', 'NO')
localidades_conectividad['TELEFONIAFIJA'] = localidades_conectividad['TELEFONIAFIJA'].str.replace('--', 'NO')
localidades_conectividad['WIRELESS'] = localidades_conectividad['WIRELESS'].str.replace('--', 'NO')
localidades_conectividad['SATELITAL'] = localidades_conectividad['SATELITAL'].str.replace('--', 'NO')

In [5590]:
localidades_conectividad

,Provincia,Partido,Localidad,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,4G,3G,TELEFONIAFIJA,WIRELESS,SATELITAL
2,BUENOS AIRES,Balcarce,Balcarce,NO,SI,SI,SI,NO,SI,SI,SI,NO
6,BUENOS AIRES,NaN,San Agustín,NO,NO,NO,NO,NO,NO,NO,NO,NO
8,BUENOS AIRES,Baradero,Baradero,NO,NO,NO,SI,NO,SI,SI,SI,SI
11,BUENOS AIRES,NaN,Villa Alsina (Est. Alsina),SI,NO,NO,NO,SI,SI,NO,SI,NO
15,BUENOS AIRES,General Las Heras,La Choza,NO,NO,NO,NO,NO,NO,NO,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...
4299,CHUBUT,Escalante,Barrio Villa S.U.P.E.,NO,NO,NO,NO,NO,SI,NO,NO,NO
4303,CHACO,NaN,La Clotilde,NO,NO,NO,NO,SI,NO,NO,NO,NO
4306,CHACO,Presidencia de la Plaza,Presidencia de la Plaza,NO,SI,NO,SI,NO,NO,SI,NO,NO
4308,CHACO,NaN,Villa El Palmar,NO,NO,NO,NO,SI,NO,NO,SI,NO
4310,CHACO,San Fernando,Basail,NO,SI,NO,NO,NO,SI,SI,SI,SI

In [5591]:
localidades_conectividad.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1442 entries, 2 to 4310
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      1442 non-null   object
 1   Partido        731 non-null    object
 2   Localidad      1442 non-null   object
 3   ADSL           1442 non-null   object
 4   CABLEMODEM     1442 non-null   object
 5   DIALUP         1442 non-null   object
 6   FIBRAOPTICA    1442 non-null   object
 7   4G             1442 non-null   object
 8   3G             1442 non-null   object
 9   TELEFONIAFIJA  1442 non-null   object
 10  WIRELESS       1442 non-null   object
 11  SATELITAL      1442 non-null   object
dtypes: object(12)
memory usage: 146.5+ KB

In [5592]:
def resumen_conectividad(row):
    servicios_internet = ['ADSL', 'CABLEMODEM', 'FIBRAOPTICA', '4G', '3G', 'WIRELESS', "DIALUP", "TELEFONIAFIJA", "SATELITAL"]
    for servicio in servicios_internet:
        if not pd.isna(row[servicio]):
            return "SI"
    return "NO"

In [5593]:
# aplicar la función resumen_conectividad a cada fila del dataframe
localidades_conectividad['conectividad'] = localidades_conectividad.apply(resumen_conectividad, axis=1)

# crear una nueva columna 'conectividad' con la condición mencionada
localidades_conectividad['conectividad'] = np.where((localidades_conectividad['ADSL'] == 'NO') & (localidades_conectividad['CABLEMODEM'] == 'NO') & (localidades_conectividad['DIALUP'] == 'NO') & 
                              (localidades_conectividad['FIBRAOPTICA'] == 'NO') & (localidades_conectividad['4G'] == 'NO') & (localidades_conectividad['3G'] == 'NO') & 
                              (localidades_conectividad['TELEFONIAFIJA'] == 'NO') & (localidades_conectividad['WIRELESS'] == 'NO') & (localidades_conectividad['SATELITAL'] == 'NO'),
                              'NO', 'SI')

In [5594]:
# creo columna condicional 

#def resumen_conectividad(row):
 #   servicios_internet = ['ADSL', 'CABLEMODEM', 'FIBRAOPTICA', '4G', '3G', 'WIRELESS', "DIALUP", "TELEFONIAFIJA", "SATELITAL"]
  #  for servicio in servicios_internet:
   #     if not pd.isna(row[servicio]):
    #        return "SI"
    # return "NO"

In [5595]:
# localidades_conectividad['conectividad'] = localidades_conectividad.apply(resumen_conectividad, axis=1)

In [5596]:
localidades_conectividad

,Provincia,Partido,Localidad,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,4G,3G,TELEFONIAFIJA,WIRELESS,SATELITAL,conectividad
2,BUENOS AIRES,Balcarce,Balcarce,NO,SI,SI,SI,NO,SI,SI,SI,NO,SI
6,BUENOS AIRES,NaN,San Agustín,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO
8,BUENOS AIRES,Baradero,Baradero,NO,NO,NO,SI,NO,SI,SI,SI,SI,SI
11,BUENOS AIRES,NaN,Villa Alsina (Est. Alsina),SI,NO,NO,NO,SI,SI,NO,SI,NO,SI
15,BUENOS AIRES,General Las Heras,La Choza,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4299,CHUBUT,Escalante,Barrio Villa S.U.P.E.,NO,NO,NO,NO,NO,SI,NO,NO,NO,SI
4303,CHACO,NaN,La Clotilde,NO,NO,NO,NO,SI,NO,NO,NO,NO,SI
4306,CHACO,Presidencia de la Plaza,Presidencia de la Plaza,NO,SI,NO,SI,NO,NO,SI,NO,NO,SI
4308,CHACO,NaN,Villa El Palmar,NO,NO,NO,NO,SI,NO,NO,SI,NO,SI
4310,CHACO,San Fernando,Basail,NO,SI,NO,NO,NO,SI,SI,SI,SI,SI

In [5597]:
localidades_conectividad['ADSL'] = localidades_conectividad['ADSL'].str.replace('NO', '0')
localidades_conectividad['CABLEMODEM'] = localidades_conectividad['CABLEMODEM'].str.replace('NO', '0')
localidades_conectividad['DIALUP'] = localidades_conectividad['DIALUP'].str.replace('NO', '0')
localidades_conectividad['FIBRAOPTICA'] = localidades_conectividad['FIBRAOPTICA'].str.replace('NO', '0')
localidades_conectividad['4G'] = localidades_conectividad['4G'].str.replace('NO', '0')
localidades_conectividad['3G'] = localidades_conectividad['3G'].str.replace('NO', '0')
localidades_conectividad['TELEFONIAFIJA'] = localidades_conectividad['TELEFONIAFIJA'].str.replace('NO', '0')
localidades_conectividad['WIRELESS'] = localidades_conectividad['WIRELESS'].str.replace('NO', '0')
localidades_conectividad['SATELITAL'] = localidades_conectividad['SATELITAL'].str.replace('NO', '0')

In [5598]:
localidades_conectividad['ADSL'] = localidades_conectividad['ADSL'].str.replace('SI', '1')
localidades_conectividad['CABLEMODEM'] = localidades_conectividad['CABLEMODEM'].str.replace('SI', '1')
localidades_conectividad['DIALUP'] = localidades_conectividad['DIALUP'].str.replace('SI', '1')
localidades_conectividad['FIBRAOPTICA'] = localidades_conectividad['FIBRAOPTICA'].str.replace('SI', '1')
localidades_conectividad['4G'] = localidades_conectividad['4G'].str.replace('SI', '1')
localidades_conectividad['3G'] = localidades_conectividad['3G'].str.replace('SI', '1')
localidades_conectividad['TELEFONIAFIJA'] = localidades_conectividad['TELEFONIAFIJA'].str.replace('SI', '1')
localidades_conectividad['WIRELESS'] = localidades_conectividad['WIRELESS'].str.replace('SI', '1')
localidades_conectividad['SATELITAL'] = localidades_conectividad['SATELITAL'].str.replace('SI', '1')

In [5599]:


localidades_conectividad['ADSL'] = localidades_conectividad['ADSL'].astype(int)
localidades_conectividad['CABLEMODEM'] = localidades_conectividad['CABLEMODEM'].astype(int)
localidades_conectividad['DIALUP'] = localidades_conectividad['DIALUP'].astype(int)
localidades_conectividad['FIBRAOPTICA'] = localidades_conectividad['FIBRAOPTICA'].astype(int)
localidades_conectividad['4G'] = localidades_conectividad['4G'].astype(int)
localidades_conectividad['3G'] = localidades_conectividad['3G'].astype(int)
localidades_conectividad['TELEFONIAFIJA'] = localidades_conectividad['TELEFONIAFIJA'].astype(int)
localidades_conectividad['WIRELESS'] = localidades_conectividad['WIRELESS'].astype(int)
localidades_conectividad['SATELITAL'] = localidades_conectividad['SATELITAL'].astype(int)

In [5600]:
localidades_conectividad.to_csv(r'csv\Listado de localidades con conectividad a internet.csv', index=False)

In [5601]:
localidades_conectividad

,Provincia,Partido,Localidad,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,4G,3G,TELEFONIAFIJA,WIRELESS,SATELITAL,conectividad
2,BUENOS AIRES,Balcarce,Balcarce,0,1,1,1,0,1,1,1,0,SI
6,BUENOS AIRES,NaN,San Agustín,0,0,0,0,0,0,0,0,0,NO
8,BUENOS AIRES,Baradero,Baradero,0,0,0,1,0,1,1,1,1,SI
11,BUENOS AIRES,NaN,Villa Alsina (Est. Alsina),1,0,0,0,1,1,0,1,0,SI
15,BUENOS AIRES,General Las Heras,La Choza,0,0,0,0,0,0,0,0,0,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4299,CHUBUT,Escalante,Barrio Villa S.U.P.E.,0,0,0,0,0,1,0,0,0,SI
4303,CHACO,NaN,La Clotilde,0,0,0,0,1,0,0,0,0,SI
4306,CHACO,Presidencia de la Plaza,Presidencia de la Plaza,0,1,0,1,0,0,1,0,0,SI
4308,CHACO,NaN,Villa El Palmar,0,0,0,0,1,0,0,1,0,SI
4310,CHACO,San Fernando,Basail,0,1,0,0,0,1,1,1,1,SI

8  Velocidad media de bajada por provincia

- eliminamos columnas 
- Cambio del tipo de dato a tipo numérico
- Agregado de una columna personalizada con la fecha por año y trimestre.

In [5602]:
# nos conectamos a la api

url_8 = "http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/VELOC-PROME-DE-BAJAD-DE/data.csv/?auth_key=Bu8AgDeYRnuAYY6eyUNv6vGI4yL7EM5ttz5JYuPu"

In [5603]:
# Realiza la petición GET a la API para la primera URL
response_8 = requests.get(url_8)

# Lee los datos del archivo CSV en un DataFrame de pandas
velocidad_media_provincia = pd.read_csv(io.StringIO(response_8.content.decode('utf-8')))

# visualizamos 

velocidad_media_provincia

,Año,Trimestre,Provincia,Mbps (Media de bajada),Unnamed: 4,Unnamed: 5
0,2022,3,Buenos Aires,70,NaN,NaN
1,2022,3,Capital Federal,101,NaN,NaN
2,2022,3,Catamarca,61,NaN,NaN
3,2022,3,Chaco,53,NaN,NaN
4,2022,3,Chubut,16,NaN,NaN
...,...,...,...,...,...,...
835,2014,1,Santa Cruz,3,NaN,NaN
836,2014,1,Santa Fe,3,NaN,NaN
837,2014,1,Santiago Del Estero,3,NaN,NaN
838,2014,1,Tierra Del Fuego,3,NaN,NaN
839,2014,1,Tucumán,3,NaN,NaN

In [5604]:
velocidad_media_provincia = velocidad_media_provincia.drop(["Unnamed: 4", "Unnamed: 5"], axis=1)

In [5605]:
velocidad_media_provincia

      Año  Trimestre            Provincia  Mbps (Media de bajada)
0    2022          3         Buenos Aires                      70
1    2022          3      Capital Federal                     101
2    2022          3            Catamarca                      61
3    2022          3                Chaco                      53
4    2022          3               Chubut                      16
..    ...        ...                  ...                     ...
835  2014          1           Santa Cruz                       3
836  2014          1             Santa Fe                       3
837  2014          1  Santiago Del Estero                       3
838  2014          1     Tierra Del Fuego                       3
839  2014          1              Tucumán                       3

[840 rows x 4 columns]

In [5606]:
velocidad_media_provincia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     840 non-null    int64
 1   Trimestre               840 non-null    int64
 2   Provincia               840 non-null    object
 3   Mbps (Media de bajada)  840 non-null    int64
dtypes: int64(3), object(1)
memory usage: 26.4+ KB

In [5607]:
#Contamos los nulos por columnas, 
print(velocidad_media_provincia.isna().sum(axis=0))

Año                       0
Trimestre                 0
Provincia                 0
Mbps (Media de bajada)    0
dtype: int64

In [5608]:
# creamos una columna nueva 

velocidad_media_provincia["Fecha_Año-Trimestre"] = (velocidad_media_provincia["Trimestre"]*2 + (velocidad_media_provincia["Trimestre"]-2)).astype(str) + "/" + "1"  + "/" + velocidad_media_provincia["Año"].astype(str)

In [5609]:
# cambio el tipo de dato de "Fecha_Año-Trimestre" a una fecha 

velocidad_media_provincia['Fecha_Año-Trimestre'] = pd.to_datetime(velocidad_media_provincia['Fecha_Año-Trimestre'], errors='coerce')

In [5610]:
velocidad_media_provincia

,Año,Trimestre,Provincia,Mbps (Media de bajada),Fecha_Año-Trimestre
0,2022,3,Buenos Aires,70,2022-07-01
1,2022,3,Capital Federal,101,2022-07-01
2,2022,3,Catamarca,61,2022-07-01
3,2022,3,Chaco,53,2022-07-01
4,2022,3,Chubut,16,2022-07-01
...,...,...,...,...,...
835,2014,1,Santa Cruz,3,2014-01-01
836,2014,1,Santa Fe,3,2014-01-01
837,2014,1,Santiago Del Estero,3,2014-01-01
838,2014,1,Tierra Del Fuego,3,2014-01-01
839,2014,1,Tucumán,3,2014-01-01

In [5611]:
velocidad_media_provincia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     840 non-null    int64
 1   Trimestre               840 non-null    int64
 2   Provincia               840 non-null    object
 3   Mbps (Media de bajada)  840 non-null    int64
 4   Fecha_Año-Trimestre     840 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 32.9+ KB

In [5612]:
velocidad_media_provincia.to_csv(r'csv\Velocidad media de bajada por provincia.csv', index=False)

9  Accesos TV por suscripcion y TV satelital

- cargamos los datos
- cambiamos el tipo de dato 
- eliminamos los . en los datos numericos
- agregamos columna de fecha

In [5613]:
# nos conectamos a la api

url_9 = "http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/TOTAL-NACIO-DE-ACCES-40941/data.csv/?auth_key=CVN7jdGDc9DIxad26lvhYrreEflLYyESYp6sultF"

In [5614]:
# Realiza la petición GET a la API para la primera URL
response_9 = requests.get(url_9)

# Lee los datos del archivo CSV en un DataFrame de pandas
TV_suscripcion_satelita = pd.read_csv(io.StringIO(response_9.content.decode('utf-8')))

# visualizamos 

TV_suscripcion_satelita.head()

,Año,Trimestre,Accesos TV por suscripción,Accesos TV satelital,Periodo
0,2022,3,7.665.931,2.064.699,Jul-Sept 2022
1,2022,2,7.647.584,2.064.637,Abr-Jun 2022
2,2022,1,7.564.827,2.049.628,Ene-Mar 2022
3,2021,4,7.596.758,2.010.217,Oct-Dic 2021
4,2021,3,7.676.892,2.147.571,Jul-Sept 2021

In [5615]:
#Contamos los nulos por columnas, 
print(TV_suscripcion_satelita.isna().sum(axis=0))

Año                           0
Trimestre                     0
Accesos TV por suscripción    0
Accesos TV satelital          0
Periodo                       0
dtype: int64

In [5616]:
# describimos el dataframe
TV_suscripcion_satelita.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Año                         34 non-null     int64
 1   Trimestre                   34 non-null     int64
 2   Accesos TV por suscripción  34 non-null     object
 3   Accesos TV satelital        34 non-null     object
 4   Periodo                     34 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.5+ KB

In [5617]:
# Convierte las columnas que contienen valores numéricos en objetos

TV_suscripcion_satelita['Accesos TV por suscripción'] = TV_suscripcion_satelita['Accesos TV por suscripción'].astype(str)
TV_suscripcion_satelita['Accesos TV satelital'] = TV_suscripcion_satelita['Accesos TV satelital'].astype(str)


# elimino los puntos en las columnas correspondientes

TV_suscripcion_satelita['Accesos TV por suscripción'] = TV_suscripcion_satelita['Accesos TV por suscripción'].str.replace('.', '')
TV_suscripcion_satelita['Accesos TV satelital'] = TV_suscripcion_satelita['Accesos TV satelital'].str.replace('.', '')



# Convierte las columnas que corresponden a valores numéricos nuevamente a float


TV_suscripcion_satelita['Accesos TV por suscripción'] = TV_suscripcion_satelita['Accesos TV por suscripción'].astype(int)
TV_suscripcion_satelita['Accesos TV satelital'] = TV_suscripcion_satelita['Accesos TV satelital'].astype(int)

C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\65685235.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  TV_suscripcion_satelita['Accesos TV por suscripción'] = TV_suscripcion_satelita['Accesos TV por suscripción'].str.replace('.', '')
C:\Users\alekz\AppData\Local\Temp\ipykernel_20848\65685235.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  TV_suscripcion_satelita['Accesos TV satelital'] = TV_suscripcion_satelita['Accesos TV satelital'].str.replace('.', '')

In [5618]:
TV_suscripcion_satelita.head()

,Año,Trimestre,Accesos TV por suscripción,Accesos TV satelital,Periodo
0,2022,3,7665931,2064699,Jul-Sept 2022
1,2022,2,7647584,2064637,Abr-Jun 2022
2,2022,1,7564827,2049628,Ene-Mar 2022
3,2021,4,7596758,2010217,Oct-Dic 2021
4,2021,3,7676892,2147571,Jul-Sept 2021

In [5619]:
# describimos el dataframe
TV_suscripcion_satelita.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Año                         34 non-null     int64
 1   Trimestre                   34 non-null     int64
 2   Accesos TV por suscripción  34 non-null     int32
 3   Accesos TV satelital        34 non-null     int32
 4   Periodo                     34 non-null     object
dtypes: int32(2), int64(2), object(1)
memory usage: 1.2+ KB

In [5620]:
# creamos una columna nueva 

TV_suscripcion_satelita["Fecha_Año-Trimestre"] = (TV_suscripcion_satelita["Trimestre"]*2 + (TV_suscripcion_satelita["Trimestre"]-2)).astype(str) + "/" + "1"  + "/" + TV_suscripcion_satelita["Año"].astype(str)

In [5621]:
# cambio el tipo de dato de "Fecha_Año-Trimestre" a una fecha 

TV_suscripcion_satelita['Fecha_Año-Trimestre'] = pd.to_datetime(TV_suscripcion_satelita['Fecha_Año-Trimestre'], errors='coerce')

In [5622]:
TV_suscripcion_satelita.head()

,Año,Trimestre,Accesos TV por suscripción,Accesos TV satelital,Periodo,Fecha_Año-Trimestre
0,2022,3,7665931,2064699,Jul-Sept 2022,2022-07-01
1,2022,2,7647584,2064637,Abr-Jun 2022,2022-04-01
2,2022,1,7564827,2049628,Ene-Mar 2022,2022-01-01
3,2021,4,7596758,2010217,Oct-Dic 2021,2021-10-01
4,2021,3,7676892,2147571,Jul-Sept 2021,2021-07-01

In [5623]:
# describimos el dataframe
TV_suscripcion_satelita.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Año                         34 non-null     int64
 1   Trimestre                   34 non-null     int64
 2   Accesos TV por suscripción  34 non-null     int32
 3   Accesos TV satelital        34 non-null     int32
 4   Periodo                     34 non-null     object
 5   Fecha_Año-Trimestre         34 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int32(2), int64(2), object(1)
memory usage: 1.5+ KB

In [5624]:
TV_suscripcion_satelita.to_csv(r'csv\Accesos TV por suscripcion y TV satelital.csv', index=False)